.App {
  font-family: "Quicksand", sans-serif;
  margin: 0 auto;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.App a {
  color: white;
}

.App h1 {
  font-size: 16pt;
  font-weight: 700;
  color: white;
}

.App .navbar input {
  color: gray;
}

.App .location {
  font-size: 18pt;
  color: white;
  margin: 15px;
}

.App .LocationDot {
  margin: 0 10px;
}

.App .Main {
  text-align: center;
}

.App .temperature {
  font-size: 55pt;
  font-weight: 600;
}

.App .Main img {
  display: block;
  margin: 100px auto 30px auto;
  width: 150px;
}

.App .units {
  font-size: 15pt;
  position: relative;
  top: -34px;
  margin-left: 5px;
  font-weight: 700;
}

.App .WeatherTemperature .units a.inactive {
  font-weight: 400;
}

.App .description {
  font-size: 15pt;
}

.App .weather-condition {
  font-size: 14pt;
  font-weight: 600;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.App .weather-condition .fa-solid {
  margin-right: 5px;
}

.App footer {
  text-align: center;
  opacity: 0.8;
  margin: 25px auto;
}

.App footer a {
  font-weight: 700;
  opacity: 1;
  cursor: pointer;
}
